.center {
    text-align: center;
}

.todo-modal {
    background-color: #00cfe8;
    text-align: center;
}
.bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    background-color: #A9A9A9;
}

.pointer {cursor: pointer;}

.white-color{
    color : "#fff";
}

.text-color {
    color : #626262
}

.pl-0{
    padding-left : 0px;
}

.active {
    color: #7367f0;
}

.fl-r {
    float: right;
}

.fw-4 {
    font-weight : 400;
}